/* .container .news-card2 .content .news-btm {
    border-top: 1px solid #eee;
    padding-top: 25px;
    gap: 15px;
    flex-wrap: wrap
}

.container .news-card2 .content .news-btm .author-area {
    display: flex;
    align-items: center;
    gap: 10px
}

.container .news-card2 .content .news-btm .author-area .author-img img {
    height: 38px;
    width: 38px;
    border-radius: 50%
}

.container .news-card2 .content .news-btm .author-area .author-content {
    display: inline-grid
}

.container .news-card2 .content .news-btm .author-area .author-content h6 {
    margin-bottom: 3px;
    font-family: var(--font-montserrat);
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: var(--title-color)
}

.container .news-card2 .content .news-btm .author-area .author-content a {
    font-family: var(--font-open-sans);
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: var(--text-color);
    transition: .35s
}

.container .news-card2 .content .news-btm .author-area .author-content a:hover {
    color: var(--primary-color1)
}

.container .news-card2 .content .news-btm .author-area .author-content span {
    font-family: var(--font-open-sans);
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: var(--text-color)
}


.container .text-input-area .form-inner {
    border-radius: 10px;
    border: 1px solid var(--primary-color1);
    background: #fff;
    display: flex;
    padding: 15px 25px
}

.container .text-input-area .form-inner textarea {
    border: none;
    outline: none;
    width: 100%
}

.container .text-input-area .form-inner button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: var(--primary-color1);
    display: flex;
    align-items: center;
    justify-content: center
}

.container .text-input-area .form-inner button svg {
    fill: var(--title-color)
}

.container .author-img img {
    height: 38px;
    width: 38px;
    border-radius: 50%
} */

.card {
    width: 100%;
    height: fit-content;
    background-color: white;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 17px 17px 27px 27px;
}

.title {
    width: 100%;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-bottom: 1px solid #f1f1f1;
    font-weight: 700;
    font-size: 13px;
    color: #47484b;
}

.title::after {
    content: '';
    width: 8ch;
    height: 1px;
    position: absolute;
    bottom: -1px;
    background-color: #47484b;
}

.comments {
    display: grid;
    grid-template-columns: 35px 1fr;
    gap: 20px;
    padding: 20px;
}

.comment-react {
    width: 35px;
    height: fit-content;
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.comment-react button {
    width: 35px;
    height: 35px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0;
    outline: none;
}

.comment-react button:after {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    left: -2.5px;
    top: -2.5px;
    background-color: #f5356e;
    border-radius: 50%;
    z-index: 0;
    transform: scale(0);
}

.comment-react button svg {
    position: relative;
    z-index: 9;
}

.comment-react button:hover:after {
    animation: ripple 0.6s ease-in-out forwards;
}

.comment-react button:hover svg {
    fill: #f5356e;
}

.comment-react button:hover svg path {
    stroke: #f5356e;
    fill: #f5356e;
}

.comment-react hr {
    width: 80%;
    height: 1px;
    background-color: #dfe1e6;
    margin: auto;
    border: 0;
}

.comment-react span {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 13px;
    font-weight: 600;
    color: #707277;
}

.comment-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.comment-container .user {
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 10px;
}

.comment-container .user .user-pic {
    width: 40px;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    border-radius: 50%;
}

.comment-container .user .user-pic:after {
    content: '';
    width: 9px;
    height: 9px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    border-radius: 50%;
    background-color: #0fc45a;
    border: 2px solid #ffffff;
}

.comment-container .user .user-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 3px;
}

.comment-container .user .user-info span {
    font-weight: 700;
    font-size: 12px;
    color: #47484b;
}

.comment-container .user .user-info p {
    font-weight: 600;
    font-size: 10px;
    color: #acaeb4;
}

.comment-container .comment-content {
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: #5f6064;
}

.text-box {
    width: 100%;
    height: fit-content;
    background-color: #f1f1f1;
    padding: 8px;
}

.text-box .box-container {
    background-color: #ffffff;
    border-radius: 8px 8px 21px 21px;
    padding: 8px;
}

.text-box .content {
    width: 100%;
    height: 40px;
    resize: none;
    border: 0;
    border-radius: 6px;
    padding: 12px 12px 10px 12px;
    font-size: 13px;
    outline: none;
    caret-color: #0a84ff;
}

.text-box .formatting {
    display: grid;
    grid-template-columns: auto auto auto auto auto 1fr;
}

.text-box .formatting button {
    width: 30px;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 50%;
    border: 0;
    outline: none;
}

.text-box .formatting button:hover {
    background-color: #f1f1f1;
}

.text-box .formatting .send {
    width: 30px;
    height: 30px;
    background-color: #0a84ff;
    margin: 0 0 0 auto;
}

.text-box .formatting .send:hover {
    background-color: #026eda;
}


/* -==============================- */
.phone {
    border-radius: 10px;
    /* border: 1px solid var(--primary-color1); */
    background: #fff;
    /* display: flex; */
    padding: 0 25px
}

.form-content {
    border-radius: 10px;
    border: 1px solid var(--primary-color1);
    background: #fff;
    display: flex;
    padding: 15px 25px
}

.form-inner .content {
    border: none;
    outline: none;
    width: 100%
}

.form-inner button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: var(--primary-color1);
    display: flex;
    align-items: center;
    justify-content: center
}

.form-inner button svg {
    fill: var(--title-color)
}

.author-img img {
    height: 38px;
    width: 38px;
    border-radius: 50%
}

.text-box textarea {
    overflow: hidden;
    scrollbar-width: none;
}

.text-box textarea::-webkit-scrollbar {
    display: none;
}

.text-box {
    position: relative;
}

.formatting {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

/* .phone {} */

@keyframes ripple {
    0% {
        transform: scale(0);
        opacity: 0.6;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}